// primary
$pink-clr: hsl(322, 100%, 66%);
// neutral
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Grayish-blue: hsl(208, 11%, 55%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$ff-heading: 'Poppins', sans-serif;
$ff-body: 'Open Sans', sans-serif;
