.footer {
  background: hsl(192, 100%, 9%);
  color: #fff;
  padding-top: 4rem;
  &-logo {
    font-size: 2rem;
  }
  &-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
    font-size: 0.9rem;
  }
  &-info {
    margin: 2rem 0;
  }

  &-icon {
    margin-right: 1rem;
    float: left;
  }
  &-text {
    max-width: 250px;
  }
  &-link {
    color: #fff;
    display: block;
    margin-bottom: 2rem;
  }
  i {
    margin-left: 1rem;
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    &:active {
      color: $pink-clr;
      border-color: $pink-clr;
    }
  }
  &-text2 {
    text-align: right;
    margin-top: 2rem;
  }
}
